.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
  border: 2px solid black;
  background-color: purple;
  text-align: center;
}

.sidebar {
  float: left;
  width: 13%;
  margin: 20;
  padding: 10px;
  text-align: right;
  font-weight: bold;
  color:purple ;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #dbdbdb;
}

.sidebar a {
  text-decoration: none;
  color: #cc0066;
}
.sidebar a:visited {
  color: #7a003d;
}
.sidebar li {
  list-style-type: none;
}



#loginsignup {
  font-family: serif;
}

.signuplink {
  text-transform: uppercase;
  background-color: white;
}

.loginlink {
  text-transform: uppercase;
  background-color: white;
}

.logo {
  background-color: white;
  font-family: serif;
}

.cupcake {
}

.logout {
  background-color: white;
}

.homepage {
  background-color: white;
}

.form {
  padding: 10px;
  border: 1px solid white;
}

.makemorsel {
  padding: 10px;
  border: 1px solid white;

}
