<div class="container">
<p>This should be the account page of <%= @user.username %></p><br>
<a href='/logout'>Logout</a>
</div>
<div class="container">
  <form action='/account_page/:id' method='post'>
    <textarea rows="2" cols="20" name="morsel" placeholder="Give us a morsel!"></textarea>
  </form>
</div>
