<div class="container">
<h1>Welcome to your kitchen, <%= @user.username %>!</h1><br>
  <div class="makemorsel">
  <form action='/account_page/<%= @user.id %>' method='post'>
    <textarea rows="2" cols="20" name="morsel" placeholder="Give us a morsel!"></textarea><br><Br>
    <input type="submit" value="Bake this sweet morsel!">
  </form><br>
  </div>
  <h2>Your recent Morsels:</h2>
    <% User.find(params[:id]).morsels.all.each do |morsel|%>
    <li><%= morsel.sweet %> </li>
    <% end %>
</div>