<div class="container">
  <p>Login</p><br>
  <form action='/login' method='post'>
    <input type='text' name='username' placeholder='Username'>
    <input type='password' name='password' placeholder='Password'>
    <input type='submit' value='Log in'>
  </form>
  <a href='/'>Homepage</a>
</div>