<div class="container">
  <div class="form">
  <form action='/login' method='post'>
    <input type='text' name='username' placeholder='Username'>
    <input type='password' name='password' placeholder='Password'>
    <input type='submit' value='Log in'>
  </form>
  </div><br>
  <div class="homepage"><a href='/'>Homepage</a></div>
</div>