<div class="container" id="loginsignup">
  <div class="logo"><h1><strong>SUGR</strong></h1></div>
  <div class="cupcake"><img src="http://thumb1.shutterstock.com/thumb_small/625348/625348,1331681023,40/stock-vector-creamy-cup-cake-with-delicious-berry-hand-drawing-sketch-vector-icon-98187260.jpg" alt="Small cupcake"></div><br>
  <div class="loginlink"><h2><a href='/login'>Log in</a></h2></div>
  <div class="signuplink"><h2><a href='/signup'>Sign up</a></h2></div><br>
</div>

