<div class="container">

  <div>
    <a href='/follows'>Follows/Following</a>
  </div>


  <h1> <%= @user.username %>'s Page </h1>
    <% if current_user && current_user.id == @follower %>
      <form action='/follow/<%= @user.username %>' method='post'>
        <input type="submit" value="Follow me!">
      </form>
    <% end %>
  <br>
  <% @sweets.each do |sweet| %>
  <%= sweet.sweet %>
    <p>Created <%= ((Time.now - sweet.created_at)/60).floor %> minutes ago</p>
  <% end %>




</div>