<div class="container">
<div class="logo"><h1><strong>SUGR</strong></h1></div>
  <div class="cupcake"><img src="http://thumb1.shutterstock.com/thumb_small/625348/625348,1331681023,40/stock-vector-creamy-cup-cake-with-delicious-berry-hand-drawing-sketch-vector-icon-98187260.jpg" alt="Small cupcake"></div><br>
  <div class="form">
  <form action='/signup' method='post'>
    <input type='text' name='username' placeholder='Username'>
    <input type='password' name='password' placeholder='Password'>
    <input type='email' name='email' placeholder='Email'>
    <input type='submit' value='Sign up'>
  </form>
  </div><br>
  <div class="homepage"><a href='/'>Homepage</a></div>
</div>